body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#page{
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    background: linear-gradient(to top, rgb(10, 10, 6), rgb(78, 78, 204), rgb(83, 83, 240));
    text-align: center;
   overflow-y: hidden;
   overflow-x: hidden;
}


.btn{
    font-size: large;
    font-family: sans-serif;
    margin-top: 10px;
    height: 90px;
    width: 250px;
    text-align: center;
    border: 1px solid #111111;
    border-radius: 40px;
    box-shadow: 0 4px 8px  rgb(8, 8, 8);
  background:linear-gradient(black,rgba(61, 61, 212, 0.671),black); 
    transition: all .5s;
    color: #fff;
    animation: animate 2s;
    margin-top: 200px;
    padding-top: 15px;
}
.btn:hover
{
    box-shadow: 0px 0px 20px 4px #fff;
    background:linear-gradient(black,rgba(61, 61, 212, 0.671),black); 
   
    transform: scale(1.1);
   
}
#hide{
    background:linear-gradient(rgb(252, 251, 251),rgba(61, 61, 212, 0.671),rgba(61, 61, 212, 0.671),rgba(61, 61, 212, 0.671),rgb(253, 253, 253)); 
}